In [5]:
from splinter import Browser
from bs4 import BeautifulSoup
from urllib.parse import urljoin
import pymongo
import pandas as pd
import requests
from sqlalchemy import create_engine

In [ ]:
# open browser
browser = Browser('chrome')
url = 'http://quotes.toscrape.com/'

In [ ]:
# get author born, 
def quote_author(url):
    author_info = {}
    
    # request author html data
    authorPage = requests.get(url).text
    
    # parse response
    author = BeautifulSoup(authorPage, 'html.parser')
    
    # find author details
    author_info['name'] = author.find('h3', class_ = 'author-title').text
    author_info['birthday'] = author.find('span', class_ = 'author-born-date').text
    author_info['location'] = author.find('span', class_ = 'author-born-location').text
    author_info['description'] = author.find('div', class_ = 'author-description').text.strip()
    
    return author_info

In [ ]:
# get tags
def get_tags(quote):
    tagList = []
    
    quoteTags = quote.find_all('a', class_='tag')
    
    for tag in quoteTags:
        tagList.append(tag.text)
    
    return tagList

In [ ]:
# get quote info
def quote_data(quote):
    quote_info = {}
    quote_info['quote_text'] = quote.find('span', class_='text').text
    auth_url = urljoin(url, quote.find('a')['href'])
    
    # get author data
    quote_info['author'] = quote_author(auth_url)
    
    # get tag data
    quote_info['tag'] = get_tags(quote)
    
    return quote_info

In [ ]:
# get list of quote boxes
def get_quoteList(pageNumber):
    quoteList = []
    
    # get html data from current page
    html = browser.html
    
    # use BeautifulSoup to parse html data
    soup = BeautifulSoup(html, 'html.parser')
    
    # find all quote blocks
    quotes = soup.find_all('div', class_='quote')
    
    # initialize quote ids
    quoteID = (pageNumber - 1) * 10
    
    # for each quote in the list retuned
    for quote in quotes:
        # increment quote id
        quoteID += 1
        
        # get all quote data returned as a dictionary
        quote_dic = quote_data(quote)
        quote_dic['_id'] = quoteID
        
        quoteList.append(quote_dic)
    
#         quoteList[0]: {_id: 1,
#                         quote_text: ,
#                         author:{name:
#                                 birthday:      
#                                 born:
#                                 description:}
#                         tags: []
#                       }
    
    return quoteList

In [ ]:
# scrape everything
def scrap_everything(url):
    all_quotes = []
    
    first_iterations = True
    nextPage = True
    pageNumber = 1
    
    while nextPage == True:
        
        # if this is the first time through the while loop, navigate to url 
        if first_iterations == True:
            browser.visit(url)
            first_iterations = False
        else:
            pass
        
        # get all quote data from the page
        print(f'Scraping Page {pageNumber}')
        currentList = get_quoteList(pageNumber)
        all_quotes =  all_quotes + currentList
        
        try:
            browser.links.find_by_partial_text('Next').click()
            pageNumber += 1  
        except:
            print("Scraping Complete")
            nextPage = False
    
    return all_quotes

In [ ]:
data = scrap_everything(url)

In [ ]:
browser.quit()

### Send data to MongoDB

In [12]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [13]:
# Define database and collection
db = client.quoteslist_db
collection = db.items

In [14]:
# Dictionary to be inserted as a MongoDB document
collection.insert_many(data)

NameError: name 'data' is not defined

### Move data from  MongoDB to put into postgres

In [8]:
def get_quotes_from_mongo():
    conn = 'mongodb://localhost:27017'
    client = pymongo.MongoClient(conn)
    db = client.quoteslist_db
    collection = db.items
    return collection

In [9]:
def normalize_quotes_data(docs):
    quotes_table = []
    authors = []
    authors_table = []
    tags_table = []
    for doc in docs.find({}):
#         print(f"normalizing the quote : [{doc['_id']}]")
        quote = {}
        quote['id'] = doc['_id']
        quote['quote_text'] = doc['quote_text']
        quote['author_name'] = doc['author']['name']
        quotes_table.append(quote)

        author = {}
        author['name'] = doc['author']['name']
        author['born'] =  doc['author']['birthday']
        author['birthplace'] =  doc['author']['location']
        author['description'] = doc['author']['description']
        if (author['name'] not in authors):
            authors_table.append(author)
            authors.append(author['name'])

        for tag in doc['tag']:
            tags_table.append({'quote_id':doc['_id'] , 'tag' : tag})    
            
    return (quotes_table , authors_table ,tags_table)

In [10]:
docs = get_quotes_from_mongo()
print(f' found {docs.count_documents({})} documents')

 found 100 documents

In [11]:
collection

NameError: name 'collection' is not defined

In [15]:
(quotes, authors, tags) = normalize_quotes_data(docs)
quotes_df = pd.DataFrame(quotes)
author_df = pd.DataFrame(authors)
tags_df = pd.DataFrame(tags)

In [16]:
quotes_df.tail()

     id                                         quote_text         author_name
95   96  “You never really understand a person until yo...          Harper Lee
96   97  “You have to write the book that wants to be w...   Madeleine L'Engle
97   98  “Never tell the truth to people who are not wo...          Mark Twain
98   99        “A person's a person, no matter how small.”           Dr. Seuss
99  100  “... a mind needs books as a sword needs a whe...  George R.R. Martin

In [17]:
author_df

,name,born,birthplace,description
0,Albert Einstein,"March 14, 1879","in Ulm, Germany","In 1879, Albert Einstein was born in Ulm, Germ..."
1,J.K. Rowling,"July 31, 1965","in Yate, South Gloucestershire, England, The U...",See also: Robert GalbraithAlthough she writes ...
2,Jane Austen,"December 16, 1775","in Steventon Rectory, Hampshire, The United Ki...",Jane Austen was an English novelist whose work...
3,Marilyn Monroe,"June 01, 1926",in The United States,Marilyn Monroe (born Norma Jeane Mortenson; Ju...
4,André Gide,"November 22, 1869","in Paris, France",André Paul Guillaume Gide was a French author ...
5,Thomas A. Edison,"February 11, 1847","in Milan, Ohio, The United States","Thomas Alva Edison was an American inventor, s..."
6,Eleanor Roosevelt,"October 11, 1884",in The United States,Anna Eleanor Roosevelt was an American politic...
7,Steve Martin,"August 14, 1945","in Waco, Texas, The United States","Stephen Glenn ""Steve"" Martin is an American ac..."
8,Bob Marley,"February 06, 1945","in Nine Mile, Saint Ann, Jamaica","Robert ""Bob"" Nesta Marley OM was a Jamaican si..."
9,Dr. Seuss,"March 02, 1904","in Springfield, MA, The United States",Theodor Seuss Geisel was born 2 March 1904 in ...
10,Douglas Adams,"March 11, 1952","in Cambridge, England, The United Kingdom","Douglas Noël Adams was an English author, comi..."
11,Elie Wiesel,"September 30, 1928","in Sighet, Romania",Eliezer Wiesel was a Romania-born American nov...
12,Friedrich Nietzsche,"October 15, 1844","in Röcken bei Lützen, Prussian Province of Sax...",Friedrich Wilhelm Nietzsche (1844–1900) is a G...
13,Mark Twain,"November 30, 1835","in Florida, Missouri, The United States","Samuel Langhorne Clemens, better known by his ..."
14,Allen Saunders,"April 24, 1899",in The United States,"Allen Saunders was an American writer, journal..."
15,Pablo Neruda,"July 12, 1904","in Parral, Chile","Pablo Neruda was the pen name and, later, lega..."
16,Ralph Waldo Emerson,"May 25, 1803","in Boston, Massachusetts, The United States","in 1803, Ralph Waldo Emerson was born in Bosto..."
17,Mother Teresa,"August 26, 1910","in Skopje, Macedonia, the Former Yugoslav Repu...","Blessed Teresa of Calcutta, or Mother Teresa, ..."
18,Garrison Keillor,"August 07, 1942","in Anoka, Minnesota, The United States",Garrison Keillor (born Gary Edward Keillor on ...
19,Jim Henson,"September 24, 1936","in Greenville, Mississippi, The United States","James Maury ""Jim"" Henson was the most widely k..."
20,Charles M. Schulz,"November 26, 1922","in Minneapolis, MN, The United States",Charles Monroe Schulz was an American cartooni...
21,William Nicholson,"January 12, 1948","in Lewes, Sussex, The United Kingdom",Librarian Note: There is more than one author ...
22,Jorge Luis Borges,"August 24, 1899","in Buenos Aires, Argentina",Jorge Francisco Isidoro Luis Borges Acevedo (S...
23,George Eliot,"November 22, 1819","in South Farm, Arbury Hall, Nuneaton, Warwicks...","In 1819, novelist George Eliot (nee Mary Ann E..."
24,George R.R. Martin,"September 20, 1948","in Bayonne, New Jersey, The United States","George R. R. Martin was born September 20, 194..."
25,C.S. Lewis,"November 29, 1898","in Belfast, Ireland",CLIVE STAPLES LEWIS (1898–1963) was one of the...
26,Martin Luther King Jr.,"January 15, 1929","in Atlanta, Georgia, The United States","Martin Luther King, Jr. was one of the pivotal..."
27,James Baldwin,"August 02, 1924","in Harlem, New York, The United States",Librarian Note: There is more than one author ...
28,Haruki Murakami,"January 12, 1949","in Kyoto, Japan",Haruki Murakami (Japanese: 村上 春樹) is a popular...
29,Alexandre Dumas-fils,"July 27, 1824","in Paris, France","Alexandre Dumas (son) was born in Paris, Franc..."
30,Stephenie Meyer,"December 24, 1973","in Connecticut, The United States","I was born in Connecticut in 1973, during a br..."
31,Ernest Hemingway,"July 21, 1899","in Oak Park, Illinois, The United States",Ernest Miller Hemingway was an American author...
32,Helen Keller,"June 27, 1880","in Tuscumbia, Alabama, The United States",Helen Keller would not be bound by conditions....
33,George Bernard Shaw,"July 26, 1856","in Dublin, Ireland","George Bernard Shaw was an Irish playwright, s..."
34,Charles Bukowski,"August 16, 1920","in Andernach, Germany",Henry Charles Bukowski (born as Heinrich Karl ...
35,Suzanne Collins,"August 11, 1962","in Hartford, Connecticut, The United States",Librarian Note: There is more than one author ...
36,J.R.R. Tolkien,"January 03, 1892","in Bloemfontein, Mangaung, Free State, South A...","John Ronald Reuel Tolkien, CBE, was an English..."
37,Alfred Tennyson,"August 06, 1809","in Somersby, Lincolnshire, The United Kingdom","Alfred Tennyson was born in Somersby, Lincolns..."
38,Terry Pratchett,"April 28, 1948","in Beaconsfield, Buckinghamshire, England, The...",Sir Terry Pratchett sold his first story when ...
39,J.D. Salinger,"January 01, 1919","in Manhattan, New York, The United States","Jerome David Salinger was an American author, ..."
40,George Carlin,"May 12, 1937","in New York, New York, The United States",George Denis Patrick Carlin was a Grammy-winni...
41,John Lennon,"October 09, 1940","in Liverpool, England, The United Kingdom","John Winston Ono Lennon, MBE, was an English s..."
42,W.C. Fields,"January 29, 1880","in Darby, Pennsylvania, The United States",W. C. Fields was born William Claude Dukenfiel...
43,Ayn Rand,"February 02, 1905","in St. Petersburg, Russian Federation",Alisa Rosenbaum was born in pre-revolutionary ...
44,Jimi Hendrix,"November 27, 1942","in Seattle, Washington, The United States","Jimi Hendrix was an American guitarist, singer..."
45,J.M. Barrie,"May 09, 1860","in Kirriemuir, Angus, Scotland, The United Kin...","Sir James Matthew Barrie, 1st Baronet, OM (9 M..."
46,E.E. Cummings,"October 14, 1894","in Cambridge, Massachusetts, The United States","Edward Estlin Cummings was born in Cambridge, ..."
47,Khaled Hosseini,"March 04, 1965","in Kabul, Afghanistan","Hosseini was born in Kabul, Afghanistan, in 19..."
48,Harper Lee,"April 28, 1926","in Monroeville, Alabama, The United States","Harper Lee, known as Nelle, was born in the Al..."
49,Madeleine L'Engle,"November 29, 1918","in New York City, New York, The United States",Madeleine L'Engle was an American writer best ...

In [18]:
tags_df

     quote_id            tag
0           1         change
1           1  deep-thoughts
2           1       thinking
3           1          world
4           2      abilities
..        ...            ...
227        97        writing
228        98          truth
229        99  inspirational
230       100          books
231       100           mind

[232 rows x 2 columns]

In [20]:
# user_name = 'postgres'
# password = 'raut'
# rds_connection_string = "postgres:raut@localhost:5432/quotes_db"
connection_string = f"postgres://yonxayzwttwqcf:7b11f9fcfe67b6ad7f2ca38fa2a5cf7e521e5757f44fdd3bd90b9f386e696a2e@ec2-54-85-13-135.compute-1.amazonaws.com:5432/dbne19n4g8dtss"
engine = create_engine(f'{connection_string}')
# engine = create_engine(f'postgresql://{rds_connection_string}')

In [21]:
quotes_script = '''
    create table quotes(     id INTEGER PRIMARY KEY,    
    quote_text varchar(1500),
    author_name varchar(32))
'''

tags_script = '''
    create table tags(   id serial PRIMARY KEY, quote_id INTEGER,    
    tag varchar(32))
'''

author_script = '''
    create table author( name varchar(32) PRIMARY KEY,    
    born varchar(32), 
    birthplace varchar(120),
    description varchar(10000))
'''

In [22]:
tables = {'quotes' : quotes_script.strip(), 
          'tags' : tags_script.strip(),
          'author' : author_script.strip()
         }

In [23]:
for table in tables.keys():
    print(f'dropping the table {table} if it already exists...')
    engine.execute(f'drop table IF EXISTS {table}')

dropping the table quotes if it already exists...
dropping the table tags if it already exists...
dropping the table author if it already exists...

In [24]:
for table , script in tables.items():
    print(f'creating the table {table}...')
    engine.execute(f'{script}')

creating the table quotes...
creating the table tags...
creating the table author...

In [25]:
engine.table_names()

['quotes', 'tags', 'author']

In [26]:
quotes_df.to_sql(name='quotes', con=engine, if_exists='append', index=False)

In [27]:
tags_df.to_sql(name='tags', con=engine, if_exists='append', index=False)

In [28]:
author_df.to_sql(name='author', con=engine, if_exists='append', index=False)

In [29]:
result = engine.execute("select quote_text from quotes")
result

In [30]:
for quotes in result:
    print(quotes)

('“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”',)
('“It is our choices, Harry, that show what we truly are, far more than our abilities.”',)
('“There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.”',)
('“The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.”',)
("“Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.”",)
('“Try not to become a man of success. Rather become a man of value.”',)
('“It is better to be hated for what you are than to be loved for what you are not.”',)
("“I have not failed. I've just found 10,000 ways that won't work.”",)
("“A woman is like a tea bag; you never know how strong it is until it's in hot water.”",)
('“A day without sunshine is like, you know, night.”',)
("“This life is what you make it. No matter what, you're going to mess up sometimes, it's a universal truth. But the good part is you get to decide how ... (786 characters truncated) ...  So keep your head high, keep your chin up, and most importantly, keep smiling, because life's a beautiful thing and there's so much to smile about.”",)
('“It takes a great deal of bravery to stand up to our enemies, but just as much to stand up to our friends.”',)
("“If you can't explain it to a six year old, you don't understand it yourself.”",)
("“You may not be her first, her last, or her only. She loved before she may love again. But if she loves you now, what else matters? She's not perfect ... (399 characters truncated) ... yze and don't expect more than she can give. Smile when she makes you happy, let her know when she makes you mad, and miss her when she's not there.”",)
('“I like nonsense, it wakes up the brain cells. Fantasy is a necessary ingredient in living.”',)
('“I may not have gone where I intended to go, but I think I have ended up where I needed to be.”',)
("“The opposite of love is not hate, it's indifference. The opposite of art is not ugliness, it's indifference. The opposite of faith is not heresy, it's indifference. And the opposite of life is not death, it's indifference.”",)
('“It is not a lack of love, but a lack of friendship that makes unhappy marriages.”',)
('“Good friends, good books, and a sleepy conscience: this is the ideal life.”',)
('“Life is what happens to us while we are making other plans.”',)
('“I love you without knowing how, or when, or from where. I love you simply, without problems or pride: I love you in this way because I do not know a ... (21 characters truncated) ... g but this, in which there is no I or you, so intimate that your hand upon my chest is my hand, so intimate that when I fall asleep your eyes close.”',)
('“For every minute you are angry you lose sixty seconds of happiness.”',)
('“If you judge people, you have no time to love them.”',)
('“Anyone who thinks sitting in church can make you a Christian must also think that sitting in a garage can make you a car.”',)
('“Beauty is in the eye of the beholder and it may be necessary from time to time to give a stupid or misinformed beholder a black eye.”',)
('“Today you are You, that is truer than true. There is no one alive who is Youer than You.”',)
('“If you want your children to be intelligent, read them fairy tales. If you want them to be more intelligent, read them more fairy tales.”',)
('“It is impossible to live without failing at something, unless you live so cautiously that you might as well not have lived at all - in which case, you fail by default.”',)
('“Logic will get you from A to Z; imagination will get you everywhere.”',)
('“One good thing about music, when it hits you, you feel no pain.”',)
("“The more that you read, the more things you will know. The more that you learn, the more places you'll go.”",)
('“Of course it is happening inside your head, Harry, but why on earth should that mean that it is not real?”',)
('“The truth is, everyone is going to hurt you. You just got to find the ones worth suffering for.”',)
('“Not all of us can do great things. But we can do small things with great love.”',)
('“To the well-organized mind, death is but the next great adventure.”',)
("“All you need is love. But a little chocolate now and then doesn't hurt.”",)
("“We read to know we're not alone.”",)
('“Any fool can know. The point is to understand.”',)
('“I have always imagined that Paradise will be a kind of library.”',)
('“It is never too late to be what you might have been.”',)
('“A reader lives a thousand lives before he dies, said Jojen. The man who never reads lives only one.”',)
('“You can never get a cup of tea large enough or a book long enough to suit me.”',)
('“You believe lies so you eventually learn to trust no one but yourself.”',)
('“If you can make a woman laugh, you can make her do anything.”',)
('“Life is like riding a bicycle. To keep your balance, you must keep moving.”',)
('“The real lover is the man who can thrill you by kissing your forehead or smiling into your eyes or just staring into space.”',)
("“A wise girl kisses but doesn't love, listens but doesn't believe, and leaves before she is left.”",)
('“Only in the darkness can you see the stars.”',)
('“It matters not what someone is born, but what they grow to be.”',)
('“Love does not begin and end the way we seem to think it does. Love is a battle, love is a war; love is a growing up.”',)
('“There is nothing I would not do for those who are really my friends. I have no notion of loving people by halves, it is not my nature.”',)
('“Do one thing every day that scares you.”',)
('“I am good, but not an angel. I do sin, but I am not the devil. I am just a small girl in a big world trying to find someone to love.”',)
('“If I were not a physicist, I would probably be a musician. I often think in music. I live my daydreams in music. I see my life in terms of music.”',)
('“If you only read the books that everyone else is reading, you can only think what everyone else is thinking.”',)
('“The difference between genius and stupidity is: genius has its limits.”',)
("“He's like a drug for you, Bella.”",)
('“There is no friend as loyal as a book.”',)
('“When one door of happiness closes, another opens; but often we look so long at the closed door that we do not see the one which has been opened for us.”',)
("“Life isn't about finding yourself. Life is about creating yourself.”",)
("“That's the problem with drinking, I thought, as I poured myself a drink. If something bad happens you drink in an attempt to forget; if something good happens you drink in order to celebrate; and if nothing happens you drink to make something happen.”",)
('“You don’t forget the face of the person who was your last hope.”',)
("“Remember, we're madly in love, so it's all right to kiss me anytime you feel like it.”",)
('“To love at all is to be vulnerable. Love anything and your heart will be wrung and possibly broken. If you want to make sure of keeping it intact yo ... (218 characters truncated) ... rk, motionless, airless, it will change. It will not be broken; it will become unbreakable, impenetrable, irredeemable. To love is to be vulnerable.”',)
('“Not all those who wander are lost.”',)
('“Do not pity the dead, Harry. Pity the living, and, above all those who live without love.”',)
('“There is nothing to writing. All you do is sit down at a typewriter and bleed.”',)
('“Finish each day and be done with it. You have done what you could. Some blunders and absurdities no doubt crept in; forget them as soon as you can. Tomorrow is a new day. You shall begin it serenely and with too high a spirit to be encumbered with your old nonsense.”',)
('“I have never let my schooling interfere with my education.”',)
("“I have heard there are troubles of more than one kind. Some come from ahead and some come from behind. But I've bought a big bat. I'm all ready you see. Now my troubles are going to have troubles with me!”",)
('“If I had a flower for every time I thought of you...I could walk through my garden forever.”',)
('“Some people never go crazy. What truly horrible lives they must lead.”',)
('“The trouble with having an open mind, of course, is that people will insist on coming along and trying to put things in it.”',)
('“Think left and think right and think low and think high. Oh, the thinks you can think up if only you try!”',)
("“What really knocks me out is a book that, when you're all done reading it, you wish the author that wrote it was a terrific friend of yours and you could call him up on the phone whenever you felt like it. That doesn't happen much, though.”",)
('“The reason I talk to myself is because I’m the only one whose answers I accept.”',)
("“You may say I'm a dreamer, but I'm not the only one. I hope someday you'll join us. And the world will live as one.”",)
('“I am free of all prejudice. I hate everyone equally. ”',)
("“The question isn't who is going to let me; it's who is going to stop me.”",)
("“′Classic′ - a book which people praise and don't read.”",)
('“Anyone who has never made a mistake has never tried anything new.”',)
("“A lady's imagination is very rapid; it jumps from admiration to love, from love to matrimony in a moment.”",)
('“Remember, if the time should come when you have to make a choice between what is right and what is easy, remember what happened to a boy who was good, and kind, and brave, because he strayed across the path of Lord Voldemort. Remember Cedric Diggory.”',)
('“I declare after all there is no enjoyment like reading! How much sooner one tires of any thing than of a book! -- When I have a house of my own, I shall be miserable if I have not an excellent library.”',)
('“There are few people whom I really love, and still fewer of whom I think well. The more I see of the world, the more am I dissatisfied with it; and  ... (11 characters truncated) ... onfirms my belief of the inconsistency of all human characters, and of the little dependence that can be placed on the appearance of merit or sense.”',)
('“Some day you will be old enough to start reading fairy tales again.”',)
('“We are not necessarily doubting that God will do the best for us; we are wondering how painful the best will turn out to be.”',)
('“The fear of death follows from the fear of life. A man who lives fully is prepared to die at any time.”',)
('“A lie can travel half way around the world while the truth is putting on its shoes.”',)
('“I believe in Christianity as I believe that the sun has risen: not only because I see it, but because by it I see everything else.”',)
('“The truth." Dumbledore sighed. "It is a beautiful and terrible thing, and should therefore be treated with great caution.”',)
("“I'm the one that's got to die when it's time for me to die, so let me live my life the way I want to.”",)
('“To die will be an awfully big adventure.”',)
('“It takes courage to grow up and become who you really are.”',)
('“But better to get hurt by the truth than comforted with a lie.”',)
('“You never really understand a person until you consider things from his point of view... Until you climb inside of his skin and walk around in it.”',)
('“You have to write the book that wants to be written. And if the book will be too difficult for grown-ups, then you write it for children.”',)
('“Never tell the truth to people who are not worthy of it.”',)
("“A person's a person, no matter how small.”",)
('“... a mind needs books as a sword needs a whetstone, if it is to keep its edge.”',)

In [52]:

author_quote_cnt = engine.execute('''select a.name, count(q.author_name) from author a inner join quotes q on q.author_name = a.name
group by a.name''')
author_quote_cnt